{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title>PyCloud - {{ title }}</title>
    </head>
    <body class="bg-clear-1 column-layout">
        <header id="head-zone" class="row-layout spaced-content">
            <img alt="PyCloud" height="50" src="{% static 'img/pycloud-logo.png' %}">
            <h2> Error inesperado </h2>
            <button id="account">A</button>
        </header>
        <main id="content-zone">
            <h1 class="centered-text">Error {{ code }} - {{ summary }}</h1>
            <p class="centered-text">
                {{ description }}
            </p>
            <p class="centered-text">
                <a class="link" href="/myunit">volver a PyCloud</a>
            </p>
        </main>
    </body>
</html>