{% extends "baseTemplate.html" %}

{% block actions %}
    <a class="tab-link centered-text" href="/dir/user{{ user.id }}">ir a mi raiz</a>
{% endblock actions %}

{% block content %}
    <h1 class="centered-text">Bienvenido a tu unidad {{ user.name }}</h1> 
    <h2 class="centered-text">Estatisticas de la nube</h2>
    <div class="chart bordered-box row-layout spaced-content">
        <div class="chart bg-primary-2">
            <p style="color: #fff" class="centered-text">Archivos en la nube<br>{{ stats.files }}</p>
        </div>
        <div class="chart bg-primary-2">
            <p style="color: #fff" class="centered-text">Carpetas en la nube<br>{{ stats.dirs }}</p>
        </div>
        <div class="chart bg-primary-2">
            <p style="color: #fff" class="centered-text">Memoria total<br>{{ stats.mem }} mb</p>
        </div>
    </div>
    <h2 class="centered-text">Archivos recientes</h2>
    <table class="tbl">
        <thead>
            <tr>
                <th class="tbl-head">Nombre</th>
                <th class="tbl-head">Fecha de subida</th>
                <th class="tbl-head">Carpeta</th>
            </tr>
        </thead>
        </tbody>
            {% for file in recent %}
                <tr>
                    <td class="tbl-cell">{{ file.name }}</td>
                    <td class="tbl-cell">{{ file.date }}</td>
                    <td class="tbl-cell">{{ file.dir.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}