.link {
    display: inline-block;
    color: var(--primary-1);
    text-decoration: none;
}

.link:hover, .link:active {
    color: var(--primary-3);
}

.tab-link {
    background-color: var(--primary-1);
    display: inline-block;
    color: var(--clear-1);
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
    margin: 2px;
}

.tab-link:hover, .tab-link:active {
    color: var(--clear-2);
}