.tbl {
    border-collapse: collapse;
    margin: 5px auto;
    overflow: auto;
}

.tbl-head {
    background-color: var(--primary-2);
    color: var(--clear-1);
    padding: 3px;
    border: 1px solid var(--dark-1);
}

.tbl-cell {
    background-color: var(--clear-1);
    padding: 3px;
    border: 1px solid var(--dark-1);
}

.file-tbl {
    border-collapse: collapse;
    padding: 5px;
    overflow: auto;
    width: 100%;
}

.file-tbl-head {
    background-color: var(--primary-3);
    color: var(--clear-1);
    padding: 3px;
    border-top: 2px solid var(--dark-1);
    border-bottom: 2px solid var(--dark-1);
    border-right: 1px solid var(--clear-1);
    border-left: 1px solid var(--clear-1);
}

.file-tbl-cell {
    background-color: var(--clear-2);
    padding: 3px;
    border-top: 1px solid var(--dark-1);
    border-bottom: 1px solid var(--dark-1);
    border-right: 1px solid var(--clear-1);
    border-left: 1px solid var(--clear-1);
}