#window-cont {
    display: none;
    background-color: rgba(68, 136, 238, 0.25);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

#account-box, #dir-box, #file-box, #drop-dir-box {
    display: none;
}