:root {
    --primary-1: #48e;
    --primary-2: #37d;
    --primary-3: #26c;
    --primary-4: #59f;
    --clear-1: #fff;
    --clear-2: #ddd;
    --clear-3: #ccc;
    --dark-1: #000;
    --danger-1: #e42;
    --danger-2: #d31;
    --agree-1: #2e4;
    --agree-2: #1d3;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    outline: none;
}