@import './defaults.css';
@import './layouts/pageLayout.css';
@import './layouts/flexLayouts.css';
@import './ui/boxes.css';
@import './ui/backgrounds.css';
@import './ui/texts.css';
@import './components/tables.css';
@import './components/buttons.css';
@import './components/inputs.css';
@import './components/links.css';
@import './specific/semantic.css';
@import './specific/layers.css';