#main-cont {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 70px 1fr;
}

#head-zone {
    grid-column: 1 / span 5;
    grid-row: 1 / 2;
}

#side-zone {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#content-zone {
    grid-column: 2 / span 4;
    grid-row: 2 / 3;
}

/* estilo de movile */
@media screen and (max-width:800px) {
    #main-cont {
        display: block;
    }

    #side-zone {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
    }
}